<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Website to showcase final project for bootcamp.">
  <meta name="author" content="Charles Lee">
  <title>NBA Predict Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

  <!--   Navbar Linkes -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>

<body>
  {% include 'nav.html' %}
  {% block content %}
  {% endblock %}
  <div class="container-fluid">

    <!-- Define the index texts
     ================================================== -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; color:black;">
        <h1 class="featurette-heading" style="color:blue;">NBA Analytics Project</h1>
      </div>
      <div class="col-md-8" style="text-align: left; color:black;">
        <img src="/static/images/magic_87_finals.jpg" class="img-responsive" style="display: block;" alt="magic_87_finals">
        <p style="text-align: center;">Game 4 of the 1987 NBA Finals: Magic Johnson "Junior Skyhook"</p>
        <br><br>
        <p>For my final project, I wanted to know what stats affect a basketball team's ability to win or lose a game.  
           Based upon my initial research, I found that Dean Oliver identified "Four Factors of Basketball Success".  
           He based this on shooting(40%), turnovers(25%), rebounding(20%) and free throws(15%).  The NBA measures 
           this using the stats eFG%, TOV%, OREB%, and FTRate respectively.  These factors can be expanded to the opposing 
           team as well to give a more accurate prediction which is what the "fourfactor" model uses for it's model predictor 
           features.</p>
        <P>Although my initial model was incredibly accurate, I wanted to improve upon this model so I decided to use some of 
           the four factors with additional parameters. Recently, pace of play has become an emphasis in the NBA.  When I tried 
           to use this in my, "mymodel" predictor, I found that the pace had little impact (low coefficient value) so I ended up 
           experimenting with other parameters.  I eventually found that a team's defensive rating gave much better accuracy in 
           predictions.  I also used TS% instead of eFG% which takes into account three point field goal percentage and free throws.  
           Based upon these changes I was able to improve my model score from 0.9351(Four Factor Model) to 0.9775(My Model).
        </p>
      </div>
      <div class="col-md-4" style="text-align: left; color:black;">
          <h2>Logistical Regression Model (Sci-Kit Learn)</h2>
          <h3>Four Factor Model</h3>
          <div id="fourfactor_table"></div>
          <h2>SGD Classifier Model (Sci-Kit Learn)</h2>
          <h3>My Model</h3>
          <div id="mymodel_table"></div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <h3>Tools for Project:</h3>
        <dl>
          <dt>Sci-Kit Learn Models:</dt>
          <dd>- Logistical Regression Model</dd>
          <dd>- SGD Classifier</dd>
          <dt>Python</dt>
          <dd>- Pandas</dd>
          <dd>- Flask</dd>
          <dd>- Selenium</dd>
          <dd>- BeautifulSoup</dd>
          <dd>- Pymongo</dd>
        </dl>
      </div>
      <div class="col-md-1">
        <br>
        <dt>HTML/CSS</dt>
        <dd>- Javascript</dd>
        <dd>- Plotly</dd>
        <dt>Database</dt>
        <dd>- MongoDB</dd>
      </div>
    </div>

  </div>
  <!-- <div id="map"></div> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="/static/js/index.js"></script>
</body>

</html>

