<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Website to showcase final project for bootcamp.">
  <meta name="author" content="Charles Lee">
  <title>NBA Predictor Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="icon" type="image/png" href="/static/images/favico.png">
  <!--   Navbar Linkes -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>

<body>
  {% include 'nav.html' %}
  {% block content %}
  {% endblock %}
  <div class="container-fluid">

    <!-- Define the index texts
     ================================================== -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; color:black;">
        <h1 class="featurette-heading" style="color:black;">NBA Analytics Project</h1>
        <hr>
      </div>
      <div class="col-md-8" style="text-align: left; color:black;">
        <img src="/static/images/magic_87_finals.jpg" class="img-responsive" style="display: block;" alt="magic_87_finals">
        <p style="text-align: center;"><b>Game 4 of the 1987 NBA Finals: Magic Johnson "Junior Skyhook"</b></p>
        <br><br>
        <p>For my final project, I wanted to know what stats affect a basketball team's ability to win or lose a game.  
           Based upon my initial research, I found that Dean Oliver identified "Four Factors of Basketball Success".  
           He based this on shooting(40%), turnovers(25%), rebounding(20%) and free throws(15%).  The NBA measures 
           this using the stats eFG%, TOV%, OREB%, and FTRate respectively.  These factors can be expanded to the opposing 
           team as well to give a more accurate prediction which is what the "fourfactor" model uses for it's model predictor 
           features.</p>
        <P>Although my initial model was adequately accurate, I wanted to improve upon this model so I decided to use some of 
           the four factors with additional parameters. Recently, pace of play has become an emphasis in the NBA.  When I tried 
           to use this in my, "mymodel" predictor, I found that the pace had little impact on improving the accuracy so I ended up 
           experimenting with other parameters.  I eventually found that a team's defensive rating gave better accuracy in 
           predictions.  I also used TS% instead of eFG% which takes into account three point field goal percentage and free throws.  
           Based upon these changes I was able to improve my model score from 0.9351(Four Factor Model) to 0.9775(My Model).
        </p>
        <P>After presenting my project, I also wanted to add an ability to predict the score of games.  To do this, I used multiple regression 
           models to experiment.  In order to predict scores, I fit my regression models to the previous season data similar to what was 
           done for my win/loss predictor.  Additionally, since I needed to predict a score I need to develop a method to input parameters 
           into my model.  In addition, I wanted to be able to get a feel for how good a team was at the current moment.  In order to do this 
           I added a new feature of ELO score for the team.  The ELO score was taken from the previous season and was carried forward to the current.  
           After each game I also updated the ELO score.  Additionally, I wanted to be able to capture the home/road factor for teams as well as 
           current past performance for these instances.  Thus when I predicted scores I looked at performance for home and road games as well (using 
           an average of the past five road or home game depending on match up) and fed my model based on these additional factors.  Since I know that 
           predicting score is difficult I was hoping to see if I could more accurately predict the point spread versus the Vegas odd predictions.  I 
           started to scrape odds data for match ups as well for comparison.  Thus far my models seem to predicted somewhat well for point spread and 
           with a bit more work on feature selection and model tuning could be a viable tool for betting.
       </p>
      </div>
      <div class="col-md-4" style="text-align: left; color:black;">
          <h2>Logistical Regression Model (Sci-Kit Learn)</h2>
          <h3>Four Factor Model</h3>
          <div id="fourfactor_table"></div>
          <h2>SGD Classifier Model (Sci-Kit Learn)</h2>
          <h3>My Model</h3>
          <div id="mymodel_table"></div>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Tools for Project:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <hr>
        <dl>
          <dt>Sci-Kit Learn Models:</dt>
          <dd>-Logistical Regression Model</dd>
          <dd>-SGD Classifier</dd>
        </dl>
      </div>
      <div class="col-md-1">
          <hr>
          <dt>-Python</dt>
          <dd>-Pandas</dd>
          <dd>-Flask</dd>
          <dd>-Selenium</dd>
          <dd>-BeautifulSoup</dd>
          <dd>-Pymongo</dd>
      </div>
      <div class="col-md-1">
        <hr>
        <dt>HTML/CSS</dt>
        <dd>-BootStrap</dd>
        <dd>-Javascript</dd>
        <dd>-Plotly</dd>
        <dt>Database</dt>
        <dd>-MongoDB</dd>
      </div>
    </div>

  </div>
  <!-- <div id="map"></div> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="/static/js/index.js"></script>
</body>

</html>

