    <!-- Begin of NAVBAR
    ================================================== -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">NBA Predictor</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Project <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/nbapredictor.html">NBA Predictor</a></li>
                  <li><a href="/nbastats.html">NBA Team Stats</a></li>
                  <li><a href="/predictorstats.html">Predictor Stats</a></li>
                </ul>
              </li>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reference <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="https://stats.nba.com/help/glossary/" target="_blank">NBA Glossary</a></li>
                  <li><a href="https://stats.nba.com/help/faq/" target="_blank">NBA FAQ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="https://stats.nba.com/teams/boxscores-traditional/" target="_blank">Traditional Box Scores</a></li>
                  <li><a href="https://stats.nba.com/teams/boxscores-four-factors/" target="_blank">Four Factor Box Scores</a></li>
                  <li><a href="https://stats.nba.com/teams/boxscores-advanced/" target="_blank">Advanced Box Scores</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="https://www.actionnetwork.com/nba/live-odds" target="_blank">NBA Betting Odds</a></li>
                 </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/charlehl/project-three-nba-predict" target="_blank"><span class="glyphicon glyphicon-folder-open"></span> Source Code</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- End of NAVBAR
    ================================================== -->