<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Model</title>
        <meta name="author" content="Charles Lee">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>
<body>
        {% include 'nav.html' %}
        {% block content %}
        {% endblock %}
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-12" style="text-align: center; color:blue;">
                <h1>NBA Team Record Predictor</h1>
            </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h3>Select Team to predict:</h3>
                    <select name="teamDropDownSelect" id="teamDropDownSelect" onchange="getData(this.value)"> 
                    </select>
                    <div id="lastupdate"></div>
                </div>
                <div class="col-md-3">
                    <div id="teamlogo"></div>
                    <div id="results"></div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-12" style="text-align: center; color:black;">
                    <hr>
                    <br><br>
                    <h1>NBA Team Head-to-Head Predictor</h1>
                    <br><br>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-2">
                        <h3>Select Home Team:</h3>
                        <form action="" method="post">
                        <select name="teamOneDropDownSelect" id="teamOneDropDownSelect" onchange="team2Data(this.value)"> 
                        </select>
                        <h3>Select Road Team:</h3>
                        <select name="teamTwoDropDownSelect" id="teamTwoDropDownSelect"> 
                        </select>
                        <br><br>
                        <input id="team-versus-submit" type="submit" value="Submit">
                        </form>
                </div>
                <div class="col-md-8">
                        <div id="teamlogoOne"></div>
                        <div id="resultsVersus"></div>
                        <div id="teamlogoTwo"></div>
                </div>
            </div>
        </div>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/js/nbapredictor.js"></script>
</div>

</body>

</html>

