<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Predictor Stats</title>
        <meta name="author" content="Charles Lee">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="icon" type="image/png" href="/static/images/favico.png">
    </head>
<body>
        {% include 'nav.html' %}
        {% block content %}
        {% endblock %}
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-12" style="text-align: center; color:black;">
                <h1>Model Stats</h1>
                <hr>
            </div>
            </div>
            <div class="row">
              <div class="col-xs-3 col-md-2">
                  <h3>Select Team:</h3>
                  <select name="teamDropDownSelect" id="teamDropDownSelect" onchange="getEloData(this.value)"></select>
                  <br><br>
                  <div id="teamlogo"></div>
              </div>
              <div class="col-xs-10 col-md-10">
                  <div id="elochart"></div>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-3 col-md-2">
                    <h3>Select Model:</h3>
                    <select name="modelDropDownSelect" id="modelDropDownSelect" onchange="getModelData(this.value)"></select>
                </div>
                <div class="col-xs-5 col-md-5">
                    <div id="modelchartroad"></div>
                </div>
                <div class="col-xs-5 col-md-5">
                    <div id="modelcharthome"></div>
                </div>
              </div>
        </div>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/js/predictorstats.js"></script>
</div>

</body>

</html>

